<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/header::header"/>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="inc/top::top"/>

    <div th:replace="inc/menu::menu('create','doc')"/>
    <div class="layui-body min-auto">
        <div class="my-btn-box">
            <form class="layui-form" action="" style="padding: 15px;" method="post">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">数据库名称</label>
                        <div class="layui-input-block">


                            <select name="db" lay-search="" lay-verify="required">

                                <option th:each="item:${databaseList}" th:value="${item}"
                                        th:text="${item}"
                                        th:selected="${item==db}"
                                ></option>

                            </select>

                        </div>
                    </div>


                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="go">生成</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <div th:replace="inc/footer::footer"/>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form;

        form.render();


        form.on('submit(go)', function (data) {

            /*  postData("[[${action}]]", data.field, function (res, request) {




              });
  */
            $(".layui-form").attr("action", "[[${action}]]");
            $(".layui-form").attr("target", "_blank");
            $(".layui-form").submit();
            $(".layui-form").attr("action", "");
            $(".layui-form").attr("target", "");

            return false;


        });


    });


</script>


</body>
</html>